{% extends 'base.html' %}

{% block content %}

    <form action="{{ url_for('index') }}" method="POST">

        <div class="form-group">
            <label for="exampleInputName">Type your name:</label>
            <input type="text" class="form-control" id="exampleInputName"
                   name="name"
                   value="{{ request.form.get('name', '') }}"
                   placeholder="Name">
        </div>


        <button type="submit" class="btn btn-primary">Join</button>
    </form>

{% endblock %}


{% block check %}
    <h1 class="mb-5">System:</h1>



    <div class="result">

        <table class="table table-bordered table-hover">
            <thead class="table-info">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Node:</th>
                <th scope="col">Status:</th>
            </tr>
            </thead>
            <tbody>
            {% for item in results %}
                <tr>
                    <th scope="row">{{ item['block'] }}</th>
                    <td>{{ item['name'] }} : {{ item['id'] }}</td>
                    <td>{{ item['result'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>




{% endblock %}