{% extends 'base.html' %}

{% block content %}

    <form action="{{ url_for('index') }}" method="POST">

        <div class="form-group">
            <label for="exampleInputName">Type your name:</label>
            <input type="text" class="form-control" id="exampleInputName"
                   name="name"
                   value="{{ request.form.get('name', '') }}"
                   placeholder="Name">
        </div>


        <button type="submit" class="btn btn-primary">Join</button>
    </form>

{% endblock %}


{% block checking %}
    <h1>System:</h1>
    {% for item in results %}

        <div class="result">

            <table border="1" width="100%" cellpadding="10">
                <tr>
                    <th>User:</th>
                    <th>Node:</th>
                </tr>
                <tr>
                    <td>{{ item['name'] }} : {{ item['id'] }}</td>
                    <td>block {{ item['block'] }} : {{ item['result'] }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}


{% endblock %}